<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            formulario
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-card-header>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi provident officiis quisquam voluptatum molestiae aliquam dolore repellendus. At, magni dolorum. Consectetur, modi? Nobis eaque totam neque consectetur, nisi delectus. A!
</ion-card-header>


<ion-card-header>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi provident officiis quisquam voluptatum molestiae aliquam dolore repellendus. At, magni dolorum. Consectetur, modi? Nobis eaque totam neque consectetur, nisi delectus. A!
</ion-card-header>
<ion-card-header>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi provident officiis quisquam voluptatum molestiae aliquam dolore repellendus. At, magni dolorum. Consectetur, modi? Nobis eaque totam neque consectetur, nisi delectus. A!
</ion-card-header>
<ion-card-header>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi provident officiis quisquam voluptatum molestiae aliquam dolore repellendus. At, magni dolorum. Consectetur, modi? Nobis eaque totam neque consectetur, nisi delectus. A!
</ion-card-header>